<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.png">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Font Family CSS -->
    <link rel="stylesheet" href="assets/css/vendor/cerebrisans.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-all.min.css">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- animate-text CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate-text.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">

    <!-- Light gallery CSS -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->
    <!--
        <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
        <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
        -->

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>


    <div class="preloader-activate preloader-active open_tm_preloader">
        <div class="preloader-area-wrap">
            <div class="spinner d-flex justify-content-center align-items-center h-100">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>


    <!--====================  header area ====================-->
    <div class="header-area header-area--absolute">
        <div class="preview-header-inner header-sticky">
            <div class="container-fluid container-fluid--cp-150">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header position-relative">
                            <!-- brand logo -->
                            <div class="header__logo">
                                <a href="/">
                                    <img src="assets/images/logo/light-logo.png" class="img-fluid light-logo" alt="">
                                    <img src="assets/images/logo/dark-logo.png" class="img-fluid dark-logo" alt="">
                                </a>
                            </div>
                            <!-- navigation menu -->
                            <div class="header__navigation menu-style-four preview-menu d-none d-xl-block">
                                <nav class="navigation-menu navigation-menu--onepage navigation-menu-right">
                                    <ul>
                                        <!-- <li><a href="#section-demos"><span>Demos</span></a></li> -->
                                        <li><a href="/about"><span>About Us</span></a></li> 
                                        <li><a href="/services"><span>Services</span></a></li>
                                        <li><a href="/case-studies"><span>Case Studies</span></a></li>
                                       
                                        <li><a href="/blog"><span>Blog</span></a></li>
                                        <li><a href="/contact" ><span>Contact Us</span></a></li>
                                    </ul>
                                </nav>

                            </div>
                            <!-- header actions -->
                            <div class="header__actions--preview">
                                <div class="header__actions">
                                    <div class="header__icons-wrapper header-right-inner" id="hidden-icon-wrapper">
                                        <div class="header-button downlode-btn ml-4">
                                            <a href="/institute" class="ht-btn ht-btn-md"> Register at Institute</a>
                                        </div>
                                    </div>
                                    <!-- mobile menu -->
                                    <div class="mobile-navigation-icon d-block d-xl-none" id="mobile-menu-trigger">
                                        <i></i>
                                    </div>
                                    <!-- hidden icons menu -->
                                    <div class="hidden-icons-menu d-block d-md-none" id="hidden-icon-trigger">
                                        <a href="javascript:void(0)">
                                            <i class="far fa-ellipsis-h-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of header area  ====================-->



    <div class="site-wrapper-reveal">
        <div class="preview-hero-area preview-hero-bg position-relative section-space--ptb_120">
            <div class="container-fluid container-fluid--cp-150">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="preview-hero-text wow move-up">
                            <h6 class="mb-30">Technology and Expansion</h6>
                            <h2 class="font-weight--reguler text-white mb-30">Cholatrek - We provide you with the best of Tech Services </h2>
                            <div class="hero-button mt-40">
                                <a href="#section-demos" class="btn btn--white">Browse demos </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="preview-inner-img">
                            <img class="img-fluid min-img  animation_images one wow fadeInDown" src="assets/images/hero/mitech-landing-main-slider-slide-01-image-04.png" alt="">
                        </div>
                    </div>
                </div>

                <img class="img-fluid pr-img-01 animation_images two wow fadeInDown" src="assets/images/hero/mitech-landing-main-slider-slide-01-image-01.png" alt="">
                <img class="img-fluid pr-img-02 animation_images two wow fadeInDown" src="assets/images/hero/mitech-landing-main-slider-slide-01-image-02.png" alt="">

                <img class="img-fluid pr-img-03 animation_images two wow fadeInDown" src="assets/images/hero/mitech-landing-main-slider-slide-01-image-03.png" alt="">

                <img class="img-fluid pr-img-04 animation_images two wow fadeInDown" src="assets/images/hero/mitech-landing-main-slider-slide-01-image-05.png" alt="">


            </div>

        </div>





        <!--===========  feature-images-wrapper  Start =============-->
        <div class="feature-images-wrapper position-relative">
            <div class="swiper-container service-slider__container">
                <div class="swiper-wrapper service-slider__wrapper feature-images__three">
                    <div class="swiper-slide">
                        <!-- ht-box-icon Start -->
                        <a  class="ht-box-images style-03 wow move-up">
                            <div class="image-box-wrap">
                                <div class="box-image">
                                    <img class="img-fulid" src="assets/images/icons/mitech-processing-service-image-01-80x83.png" alt="">
                                </div>
                                <div class="content">
                                    <h5 class="heading">Reliability </h5>
                                    <div class="text">We offer you the best of service taking priority on time to helping you achive your utmost desires.</div>
                                </div>
                            </div>
                        </a>
                        <!-- ht-box-icon End -->
                    </div>
                    <div class="swiper-slide">
                        <!-- ht-box-icon Start -->
                        <a  class="ht-box-images style-03 wow move-up">
                            <div class="image-box-wrap">
                                <div class="box-image">
                                    <img class="img-fulid" src="assets/images/icons/mitech-processing-service-image-02-80x83.png" alt="">
                                </div>
                                <div class="content">
                                    <h5 class="heading">Competence </h5>
                                    <div class="text">We have a team-base of competent and well experienced Engineers that help birth your vision.</div>
                                </div>
                            </div>
                        </a>
                        <!-- ht-box-icon End -->
                    </div>
                    <div class="swiper-slide">
                        <!-- ht-box-icon Start -->
                        <a  class="ht-box-images style-03 wow move-up">
                            <div class="image-box-wrap">
                                <div class="box-image">
                                    <img class="img-fulid" src="assets/images/icons/mitech-processing-service-image-03-80x83.png" alt="">
                                </div>
                                <div class="content">
                                    <h5 class="heading">Quality</h5>
                                    <div class="text">We work with good software that ensures all rights are reserved to better position your product in its market space.</div>
                                </div>
                            </div>
                        </a>
                        <!-- ht-box-icon End -->
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <!--===========  feature-images-wrapper  End =============-->


        <div class=" infotechno-section-bg-01 "  ><br><br>

            <div class="" style="background-color:;">
                <div class="" style="background-color: ;">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_60">
                            <h6 class="section-sub-title mb-20">Our company.</h6>
                            <h4 class="heading">We run all kinds of IT services that  vow your <span class="text-color-primary"> success.</span></h4>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>
            <!-- <h2 class="section-sub-title mb-20 text-center" style="font-size:25px;" >Our company</h2> -->
            <div class="our-experience-wrapper" >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="section-title small-mb__40 tablet-mb__40">
                                <!-- <h6 class="section-sub-title mb-20 ">Our company</h6> -->
                                <h4 class="heading">We thrive by our track record of <span class="text-color-primary"> excellence</span></h4>
                                <p class="text mt-20">Cholatrek provides technical team to work on your brand over a stipulated time giving maximum attention to details.</p>
                                <p style=" ">We ensure to serve you with good customer experience based product which in turn generates leads for your business.

                                </p>

                                <div class="sider-title-button-box mt-30">
                                    <a href="https://wa.me/message/U2CFOUAEBZ54G1" class="ht-btn ht-btn-md ht-btn--outline">Speak to us now!</a>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-5 ml-auto">
                            <div class="ht-list style-auto-numbered-02">
                                <div class="list-item">
                                    <a class="link" href="https://wa.me/message/U2CFOUAEBZ54G1">
                                        <div class="list-header">
                                            <div class="marker">
                                                01
                                            </div>
                                            <div class="title-wrap">
                                                <h6 class="title">How can we help your business? </h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-item">
                                    <a class="link" href="https://wa.me/message/U2CFOUAEBZ54G1">
                                        <div class="list-header">
                                            <div class="marker">
                                                02
                                            </div>
                                            <div class="title-wrap">
                                                <h6 class="title">Want to become our partner? </h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-item">
                                    <a class="link" href="https://wa.me/message/U2CFOUAEBZ54G1">
                                        <div class="list-header">
                                            <div class="marker"> 03</div>
                                            <div class="title-wrap">
                                                <h6 class="title"> The best offers from Cholatrek? </h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br><br>
            </div>

      

            <div class="feature-images-wrapper  section-space--ptb_100"  style="background-color: white">
                <div class="container">
    
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- section-title-wrap Start -->
                            <div class="section-title-wrap text-center">
                                <h6 class="section-sub-title mb-20">Our services.</h6>
                                <h5 class="heading">We Are Interested in the promotion of<span class="text-color-primary"> Tech Ecosystem. </span>   <br> We focus on the integration of technology into various sectors in the economy. </h4>
                            </div>
                            <!-- section-title-wrap Start -->
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12">
                            <div class="feature-images__one">
                                <div class="row">
    
                                    <div class="col-lg-4 col-md-6 wow move-up">
                                        <!-- ht-box-icon Start -->
                                        <div class="ht-box-images style-01">
                                            <div class="image-box-wrap">
                                                <div class="box-image">
                                                    <img class="img-fulid" src="assets/images/icons/mitech-box-image-style-01-image-01-100x108.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h5 class="heading">Web and App development </h5>
                                                    <div class="text">Our experienced Engineers serve you their best at ensuring your needs being met. We are always here for you!
                                                    </div>
                                                    <div class="circle-arrow">
                                                        <div class="middle-dot"></div>
                                                        <div class="middle-dot dot-2"></div>
                                                        <a href="#">
                                                            <i class="far fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ht-box-icon End -->
                                    </div>
    
                                    <div class="col-lg-4 col-md-6 wow move-up">
                                        <!-- ht-box-icon Start -->
                                        <div class="ht-box-images style-01">
                                            <div class="image-box-wrap">
                                                <div class="box-image">
                                                    <img class="img-fulid" src="assets/images/icons/mitech-box-image-style-01-image-02-100x108.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h5 class="heading"> Branding and Consultation</h5>
                                                    <div class="text">Our technical team helps to give professional training to your staff towards the use of tech driven tools for your company's productivity.
                                                    </div>
                                                    <div class="circle-arrow">
                                                        <div class="middle-dot"></div>
                                                        <div class="middle-dot dot-2"></div>
                                                        <a href="#">
                                                            <i class="far fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ht-box-icon End -->
                                    </div>
    
                                    <div class="col-lg-4 col-md-6 wow move-up">
                                        <!-- ht-box-icon Start -->
                                        <div class="ht-box-images style-01">
                                            <div class="image-box-wrap">
                                                <div class="box-image">
                                                    <img class="img-fulid" src="assets/images/icons/mitech-box-image-style-01-image-03-100x108.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h5 class="heading">Cholatrek Training Institute</h5>
                                                    <div class="text">Cholatrek Training Institute offers two weeks Intensive training in batches to aspiring developers. This comes up bi-monthly..
                                                    </div>
                                                    <div class="circle-arrow">
                                                        <div class="middle-dot"></div>
                                                        <div class="middle-dot dot-2"></div>
                                                        <a href="#">
                                                            <i class="far fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ht-box-icon End -->
                                    </div>
    
                                </div>
                            </div>
    
                            <div class="section-under-heading text-center section-space--mt_60 section-space--pt_30"><a href="/services" class="ht-btn ht-btn-md ht-btn-custom" style="color:white">View More <span class="btn-icon"><i class="far fa-arrow-right"></i></span></a> </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="projects-wrapper projectinfotechno-bg section-space--ptb_100" style="background-color: whitesmoke">
            <div class="container">

                <div class="row" >
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_40">
                            <h6 class="section-sub-title mb-20">Case studies</h6>
                            <h3 class="heading">Proud projects that<span class="text-color-primary">  make us stand out</span></h3>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="projects-wrap swiper-container projects-slider__container">
                            <div class="swiper-wrapper">
                                <% for(var i = 0; i < portfolio.length; i++) { %>
                                    <div class="swiper-slide">
                                            <!-- Projects Wrap Start -->
                                            <a href="/port/single-case/<%= portfolio[i]._id %>" class="projects-wrap style-01 wow move-up">
                                                <div class="projects-image-box">
                                                    <div class="projects-image">
                                                        <img class="img-fluid" src=" <%= portfolio[i].portfolioImage.slice(8) %>" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <h6 class="heading"> <%= portfolio[i].title %> </h6>
                                                        <div class="post-categories"><%= portfolio[i].category %></div>
                                                        <div class="text"><%= portfolio[i].excerpt.slice(0,160) + '...' %>
                                                        </div>
                                                        <div class="box-projects-arrow">
                                                            <span class="button-text">See More</span>
                                                            <i class="fa fa-long-arrow-right ml-1"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- Projects Wrap End -->
                                        </div>
                                <% } %>

                             



                                <div class="swiper-slide">
                                    <!-- Projects Wrap Start -->
                                    <a href="#" class="projects-wrap style-01 wow move-up">
                                        <div class="projects-image-box">
                                            <div class="projects-image">
                                                <img class="img-fluid" src="assets/images/projects/case-study-02-480x298.jpg" alt="">
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Arden-Internal Networking</h6>
                                                <div class="post-categories">Cyber Security</div>
                                                <div class="text">The prospects for a company operating in this new market are varied and exciting. The potential …
                                                </div>
                                                <div class="box-projects-arrow">
                                                    <span class="button-text">View case study</span>
                                                    <i class="fa fa-long-arrow-right ml-1"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Projects Wrap End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Projects Wrap Start -->
                                    <a href="#" class="projects-wrap style-01 wow move-up">
                                        <div class="projects-image-box">
                                            <div class="projects-image">
                                                <img class="img-fluid" src="assets/images/projects/case-study-03-480x298.jpg" alt="">
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">A Freeserve case study</h6>
                                                <div class="post-categories">Cyber Security</div>
                                                <div class="text">The prospects for a company operating in this new market are varied and exciting. The potential …
                                                </div>
                                                <div class="box-projects-arrow">
                                                    <span class="button-text">View case study</span>
                                                    <i class="fa fa-long-arrow-right ml-1"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Projects Wrap End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Projects Wrap Start -->
                                    <a href="#" class="projects-wrap style-01 wow move-up">
                                        <div class="projects-image-box">
                                            <div class="projects-image">
                                                <img class="img-fluid" src="assets/images/projects/case-study-04-480x298.jpg" alt="">
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Aqua – Research and Energy</h6>
                                                <div class="post-categories">Cyber Security</div>
                                                <div class="text">The prospects for a company operating in this new market are varied and exciting. The potential …
                                                </div>
                                                <div class="box-projects-arrow">
                                                    <span class="button-text">View case study</span>
                                                    <i class="fa fa-long-arrow-right ml-1"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Projects Wrap End -->
                                </div>

                            </div>
                            <div class="swiper-pagination swiper-pagination-project mt_20"></div>
                        </div>

                       

                    </div>
                </div>
            </div>
        </div>
       

        <div class="gradation-process-area section-space--ptb_100" >
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="gradation-title-wrapper section-space--mb_60">
                            <div class="gradation-title-wrap ">
                                <h6 class="section-sub-title text-black mb-20">HOW WE WORK</h6>
                                <h4 class="heading">How it helps <span class="text-color-primary">your <br> business succeed</span></h4>
                            </div>


                            <div class="gradation-sub-heading">
                                <h3 class="heading"><mark>04</mark> PROCESS</h3>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ht-gradation style-01">
                            <!-- Single item gradation Start -->
                            <div class="item item-1 animate  wow fadeInRight" data-wow-delay="0.1s">
                                <div class="line"></div>
                                <div class="circle-wrap">
                                    <div class="mask">
                                        <div class="wave-pulse wave-pulse-1"></div>
                                        <div class="wave-pulse wave-pulse-2"></div>
                                        <div class="wave-pulse wave-pulse-3"></div>
                                    </div>

                                    <h6 class="circle">1</h6>
                                </div>

                                <div class="content-wrap">

                                    <h6 class="heading">01. Analysis/Planning  </h6>

                                    <div class="text">We meet customers in set place to discuss the details about needs and demands before proposing a plan.</div>

                                    
                                </div>
                            </div>
                            <!-- Single item gradation End -->

                            <!-- Single item gradation Start -->
                            <div class="item item-1 animate  wow fadeInRight" data-wow-delay="0.15s">
                                <div class="line"></div>
                                <div class="circle-wrap">
                                    <div class="mask">
                                        <div class="wave-pulse wave-pulse-1"></div>
                                        <div class="wave-pulse wave-pulse-2"></div>
                                        <div class="wave-pulse wave-pulse-3"></div>
                                    </div>

                                    <h6 class="circle">2</h6>
                                </div>

                                <div class="content-wrap">

                                    <h6 class="heading">02. Design/Prototypic  Phase</h6>

                                    <div class="text">Our Product designers come up with mock-up and design prototypes that suits what your business uniqeuly needs.</div>

                                   
                                </div>
                            </div>
                            <!-- Single item gradation End -->

                            <!-- Single item gradation Start -->
                            <div class="item item-1 animate  wow fadeInRight" data-wow-delay="0.20s">
                                <div class="line"></div>
                                <div class="circle-wrap">
                                    <div class="mask">
                                        <div class="wave-pulse wave-pulse-1"></div>
                                        <div class="wave-pulse wave-pulse-2"></div>
                                        <div class="wave-pulse wave-pulse-3"></div>
                                    </div>

                                    <h6 class="circle">3</h6>
                                </div>

                                <div class="content-wrap">

                                    <h6 class="heading">03. Implementation  Phase</h6>

                                    <div class="text">After developing a prototype, Our developers and team of technicians transforms prototypes into desired product for your business.</div>

                                   
                                </div>
                            </div>
                            <!-- Single item gradation End -->

                            <!-- Single item gradation Start -->
                            <div class="item item-1 animate wow fadeInRight" data-wow-delay="0.25s">
                                <div class="line"></div>
                                <div class="circle-wrap">
                                    <div class="mask">
                                        <div class="wave-pulse wave-pulse-1"></div>
                                        <div class="wave-pulse wave-pulse-2"></div>
                                        <div class="wave-pulse wave-pulse-3"></div>
                                    </div>

                                    <h6 class="circle">4</h6>
                                </div>

                                <div class="content-wrap">

                                    <h6 class="heading">04. Testing &amp; Review Phase</h6>

                                    <div class="text">Once the Implementation has been done, we need to go through the two stages of testing (both the white box and black box testing).</div>

                                   
                                </div>
                            </div>
                            <!-- Single item gradation End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-section-wrapper section-space--pt_100  section-space--pb_70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 wow move-up">

                        <div class="section-title tablet-mb__60 section-space--mb_30 tablet-mt__0 small-mt__0 small-mb__60 mt-30">
                            <h6 class="section-sub-title mb-20">Blogs & news</h6>
                            <h3 class="heading">Interesting articles<span class="text-color-primary"> updated daily</span></h3>
                            <ul class="infotechno-blog-list mt-30">

                                <% if(blog.length == 0) { %>
                                    <li>No Recent Post yet</li>
                                <% } %>

                                <% if(blog.length == 1) { %>
                                    <% for(var i = 0 ; i < 1; i++) { %>
                                        <li>
                                            <a href="/blog/<%= blog[i]._id %>"><%= blog[i].title %></a>
                                        </li>
                                    <% } %>
                                <% } %>

                                <% if(blog.length == 2 ) { %>
                                    <% for(var i = 0 ; i < 2; i++) { %>
                                        <li>
                                            <a href="/blog/<%= blog[i]._id %>"><%= blog[i].title %></a>
                                        </li>
                                    <% } %>
                                <% } %>

                                <% if(blog.length == 3) { %>
                                    <% for(var i = 0 ; i < 3; i++) { %>
                                        <li>
                                            <a href="/blog/<%= blog[i]._id %>"><%= blog[i].title %></a>
                                        </li>
                                    <% } %>
                                <% } %>
                                
                                <% if(blog.length >3) { %>
                                    <% for(var i = 0 ; i < 4; i++) { %>
                                        <li>
                                            <a href="/blog/<%= blog[i]._id %>"><%= blog[i].title %></a>
                                        </li>
                                    <% } %>
                                <% } %>

                              
                               
                                
                            </ul>

                        </div>

                    </div>


                    <% for(var i = 0 ; i < 2; i++) { %>

                    <div class="col-lg-4 col-md-6 wow move-up">
                        <!--======= Single Blog Item Start ========-->
                        <div class="single-blog-item blog-grid">
                            <!-- Post Feature Start -->
                            <div class="post-feature blog-thumbnail">
                                <a href="/blog/<%= blog[i]._id %>">
                                    <img class="img-fluid" src="<%= blog[i].imgUrl.slice(8) %>" width="100%" alt="Blog Images">
                                </a>
                            </div>
                            <!-- Post Feature End -->

                            <!-- Post info Start -->
                            <div class="post-info lg-blog-post-info">
                                <div class="post-meta">
                                    <div class="post-date">
                                        <span class="far fa-calendar meta-icon"></span>
                                       <%= blog[i].date.toString().slice(3,16) %>
                                       
                                    </div>
                                </div>

                                <h5 class="post-titlbloge font-weight--bold">
                                    <a href="#"><%= blog[i].title %></a>
                                </h5>

                                <div class="post-excerpt mt-15">
                                    <p><%= blog[i].content.slice(0,150) + "..." %></p>
                                </div>
                                <div class="btn-text">
                                    <a href="/blog/<%= blog[i]._id %>">Read more <i class="ml-1 button-icon far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- Post info End -->
                        </div>
                        <!--===== Single Blog Item End =========-->

                    </div>

                    <% } %>

                   

                </div>
            </div>
        </div>


     

        <div class="contact-us-area service-contact-bg section-space--ptb_100">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-4 mr-auto">
                        <div class="contact-info sytle-one text-left">

                            <div class="contact-info-title-wrap text-center">
                                <h3 class="heading text-white mb-10">4.9/5.0</h3>
                                <div class="ht-star-rating lg-style">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p class="sub-text">Reviews from 700+ customers...</p>
                            </div>

                            <div class="contact-list-item">
                                <a href="tel:08160504976" class="single-contact-list">
                                    <div class="content-wrap">
                                        <div class="content">
                                            <div class="icon">
                                                <span class="fal fa-phone"></span>
                                            </div>
                                            <div class="main-content">
                                                <h6 class="heading">Call for advice now!</h6>
                                                <div class="text">0803-7685-376 </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="mailto:info@cholatrek.org" class="single-contact-list">
                                    <div class="content-wrap">
                                        <div class="content">
                                            <div class="icon">
                                                <span class="fal fa-envelope"></span>
                                            </div>
                                            <div class="main-content">
                                                <h6 class="heading">Say hello</h6>
                                                <div class="text">info@cholatrek.org</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5 mr-auto ml-auto col-md-6">
                        <div class="business-solution-form-wrap mr-auto ml-auto">
                            <div class="contact-title text-center section-space--mb_40">
                                <h5 class="mb-10">Book appointment</h5>
                                  
                                <% if (message.length > 0) { %>
                                    <br>
                                    <p class="text-center  btn btn-success " style="width: 100%;background-color: #184289"><%= message %></p>
                                <% } else{ %>
                                    <p class="text-center" style="color:grey">It's out pleasure to have a chance to cooperate.</p>
                                <% } %>
                            </div>
                            <form action="/appointment2" method="post">
                                <div class="contact-form__two">
                                    <div class="contact-inner">
                                        <input name="name" type="text" placeholder="Name *" required>
                                    </div>
                                    <div class="contact-inner">
                                        <input name="email" type="email" placeholder="Email *" required >
                                    </div>
                                    <div class="contact-select">
                                        <div class="form-item contact-inner"  >
                                            <span class="inquiry">
                                        <select name="appointmentType" class="select-item" required >
                                            <option ></option>
                                            <option value="web">Web development</option>
                                            <option value="app">App development</option>
                                            <option value="ui">UI/UX</option>
                                            <option value="school" >School Application</option>
                                            <option value="branding">Branding Design and Strategy</option>
                                            <option value="training">Staff Training</option>
                                           
                                        </select>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="comment-submit-btn text-center">
                                        <button class="ht-btn ht-btn-md" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

<!-- footer beginning -->
<%- include('./partials/footer'); %>
<!-- End of the footer beginning -->
        


      

    </div>
 

    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fal fa-long-arrow-up"></i>
        <i class="arrow-bottom fal fa-long-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->



    <!--====================  mobile menu overlay ====================-->
    <%- include('./partials/header_mobile'); %>
    <!--====================  End of mobile menu overlay  ====================-->


    <!--====================  search overlay ====================-->
    <div class="search-overlay" id="search-overlay">

        <div class="search-overlay__header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 ml-auto col-4">
                        <!-- search content -->
                        <div class="search-content text-right">
                            <span class="mobile-navigation-close-icon" id="search-close-trigger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-overlay__inner">
            <div class="search-overlay__body">
                <div class="search-overlay__form">
                    <form action="#">
                        <input type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of search overlay  ====================-->

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="assets/js/plugins/swiper.min.js"></script>

    <!-- Light gallery JS -->
    <script src="assets/js/plugins/lightgallery.min.js"></script>

    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>

    <!-- Counter down JS -->
    <script src="assets/js/plugins/countdown.min.js"></script>

    <!-- Isotope JS -->
    <script src="assets/js/plugins/isotope.min.js"></script>

    <!-- Masonry JS -->
    <script src="assets/js/plugins/masonry.min.js"></script>

    <!-- ImagesLoaded JS -->
    <script src="assets/js/plugins/images-loaded.min.js"></script>

    <!-- Wavify JS -->
    <script src="assets/js/plugins/wavify.js"></script>

    <!-- jQuery Wavify JS -->
    <script src="assets/js/plugins/jquery.wavify.js"></script>

    <!-- circle progress JS -->
    <script src="assets/js/plugins/circle-progress.min.js"></script>

    <!-- counterup JS -->
    <script src="assets/js/plugins/counterup.min.js"></script>

    <!-- wow JS -->
    <script src="assets/js/plugins/wow.min.js"></script>

    <!-- animation text JS -->
    <script src="assets/js/plugins/animation-text.min.js"></script>

    <!-- Vivus JS -->
    <script src="assets/js/plugins/vivus.min.js"></script>

    <!-- Some plugins JS -->
    <script src="assets/js/plugins/some-plugins.js"></script>


    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

    <!--
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


</body>

</html>