<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="/assets/images/favicon.png">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">

    <!-- Font Family CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/cerebrisans.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/fontawesome-all.min.css">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/swiper.min.css">

    <!-- animate-text CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/animate-text.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/animate.min.css">

    <!-- Light gallery CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/lightgallery.min.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->
    <!--
        <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
        <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
        -->

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>


    <div class="preloader-activate preloader-active open_tm_preloader">
        <div class="preloader-area-wrap">
            <div class="spinner d-flex justify-content-center align-items-center h-100">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>


    <!--====================  header area ====================-->
    <div class="header-area header-area--default">

       
        <!-- Header Bottom Wrap Start -->
        <div class="header-bottom-wrap header-sticky">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header default-menu-style position-relative">

                            <!-- brand logo -->
                            <div class="header__logo">
                                <a href="/">
                                    <img src="/assets/images/logo/logo-dark.png" class="img-fluid" alt="">
                                </a>
                            </div>

                            <%- include('./partials/header'); %>

                            <!-- header midle box  -->
                           

                            <!-- header right box -->
                            <div class="header-right-box">
                                <div class="header-right-inner" id="hidden-icon-wrapper">

                                    <!-- language-menu -->
                                    <div class="language-menu">
                                        <ul>
                                            <li>
                                                <a href="#" class="">
                                                    <img class="ls-flag" src="/assets/images/flags/en.png" alt="en" title="English">
                                                    <span class="wpml-ls-native">English</span>
                                                </a>

                                                <ul class="ls-sub-menu">
                                                    <li class="">
                                                        <a href="#" class="">
                                                            <img class="ls-flag" src="/assets/images/flags/fr.png" alt="en" title="Français"><span class="wpml-ls-native">Français</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#" class="">
                                                            <img class="wpml-ls-flag" src="/assets/images/flags/de.png" alt="de" title="Deutsch"><span class="wpml-ls-native">Deutsch</span>
                                                        </a>
                                                    </li>

                                                </ul>

                                            </li>

                                        </ul>
                                    </div>

                                    <!-- header-search-form -->
                                    <div class="header-search-form default-search">
                                        <form action="#" class="search-form-top">
                                            <input class="search-field" type="text" placeholder="Search…">
                                            <button class="search-submit">
                                                <i class="search-btn-icon fa fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                                <!-- mobile menu -->
                                <div class="mobile-navigation-icon d-block d-xl-none" id="mobile-menu-trigger">
                                    <i></i>
                                </div>
                                <!-- hidden icons menu -->
                                <div class="hidden-icons-menu d-block d-md-none" id="hidden-icon-trigger">
                                    <a href="javascript:void(0)">
                                        <i class="far fa-ellipsis-h-alt"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom Wrap End -->

    </div>
    <!--====================  End of header area  ====================-->





















    <div class="site-wrapper-reveal">
        <div class="about-banner-wrap vision-space bg-img" data-bg="<%= portfolio.portfolioImage.slice(8) %>">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto">
                        <div class="about-banner-content text-center">
                            <div class="banner-logo-img mb-20">
                                <img src="/assets/images/icons/mitech-aqua-logo-83x108.png" alt="">
                            </div>
                            <h1 class="mb-15 text-white"><%= portfolio.title %></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vision-overview section-space--pt_100">
            <div class="container">
                <div class="row">
                    <div class="col-12 section-title">
                        <div class="section-title-wrap section-space--mb_30">
                            <h3 class="heading">Overview</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="vision-content">
                            <h5 class="heading"><%= portfolio.overview %></h5>

                            <div class="author section-space--mt_60">
                                <h6 class="font-weight--reguler mb-1"><%= portfolio.author %></h6>
                                <p><%= portfolio.position %></p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-7">
                        <div class="portfolio-details-content">
                            <div class="text ">
                                <p><%= portfolio.excerpt %></p>

                            </div>
                            <div class="portfolio-details-table section-space--mt_60">
                                <table class="">
                                    <tbody>
                                        <!-- <tr class="portfolio-details-tags">
                                            <td class="label">Tags</td>
                                            <td><a href="#" rel="tag">Basic</a></td>
                                        </tr> -->

                                        <!-- <tr class="portfolio-details-share">
                                            <td class="label">Share</td>
                                            <td class="portfolio-sharing-list">
                                                <div class="inner">
                                                    <a class="hint--bounce hint--top hint--primary twitter" target="_blank" aria-label="Twitter" href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                    <a class="hint--bounce hint--top hint--primary facebook" target="_blank" aria-label="Facebook" href="#">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                    <a class="hint--bounce hint--top hint--primary linkedin" target="_blank" aria-label="Linkedin" href="#">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr> -->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="gradation-process-area section-space--ptb_100" >
                <div class="container">
    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="gradation-title-wrapper section-space--mb_60">
                                <div class="gradation-title-wrap ">
                                    <h6 class="section-sub-title text-black mb-20">HOW WE WORK</h6>
                                    <h4 class="heading">How it helps <span class="text-color-primary">your <br> business succeed</span></h4>
                                </div>
    
    
                                <div class="gradation-sub-heading">
                                    <h3 class="heading"><mark>04</mark> PROCESS</h3>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ht-gradation style-01">
                                <!-- Single item gradation Start -->
                                <div class="item item-1 animate  wow fadeInRight" data-wow-delay="0.1s">
                                    <div class="line"></div>
                                    <div class="circle-wrap">
                                        <div class="mask">
                                            <div class="wave-pulse wave-pulse-1"></div>
                                            <div class="wave-pulse wave-pulse-2"></div>
                                            <div class="wave-pulse wave-pulse-3"></div>
                                        </div>
    
                                        <h6 class="circle">1</h6>
                                    </div>
    
                                    <div class="content-wrap">
    
                                        <h6 class="heading">01. Analysis / Planning Phase</h6>
    
                                        <div class="text"><%= portfolio.analysis %></div>
    
                                        
                                    </div>
                                </div>
                                <!-- Single item gradation End -->
    
                                <!-- Single item gradation Start -->
                                <div class="item item-1 animate  wow fadeInRight" data-wow-delay="0.15s">
                                    <div class="line"></div>
                                    <div class="circle-wrap">
                                        <div class="mask">
                                            <div class="wave-pulse wave-pulse-1"></div>
                                            <div class="wave-pulse wave-pulse-2"></div>
                                            <div class="wave-pulse wave-pulse-3"></div>
                                        </div>
    
                                        <h6 class="circle">2</h6>
                                    </div>
    
                                    <div class="content-wrap">
    
                                        <h6 class="heading">02. Design  Phase</h6>
    
                                        <div class="text"><%= portfolio.design %></div>
    
                                       
                                    </div>
                                </div>
                                <!-- Single item gradation End -->
    
                                <!-- Single item gradation Start -->
                                <div class="item item-1 animate  wow fadeInRight" data-wow-delay="0.20s">
                                    <div class="line"></div>
                                    <div class="circle-wrap">
                                        <div class="mask">
                                            <div class="wave-pulse wave-pulse-1"></div>
                                            <div class="wave-pulse wave-pulse-2"></div>
                                            <div class="wave-pulse wave-pulse-3"></div>
                                        </div>
    
                                        <h6 class="circle">3</h6>
                                    </div>
    
                                    <div class="content-wrap">
    
                                        <h6 class="heading">03. Implementation  Phase</h6>
    
                                        <div class="text"><%= portfolio.implementation %></div>
    
                                       
                                    </div>
                                </div>
                                <!-- Single item gradation End -->
    
                                <!-- Single item gradation Start -->
                                <div class="item item-1 animate wow fadeInRight" data-wow-delay="0.25s">
                                    <div class="line"></div>
                                    <div class="circle-wrap">
                                        <div class="mask">
                                            <div class="wave-pulse wave-pulse-1"></div>
                                            <div class="wave-pulse wave-pulse-2"></div>
                                            <div class="wave-pulse wave-pulse-3"></div>
                                        </div>
    
                                        <h6 class="circle">4</h6>
                                    </div>
    
                                    <div class="content-wrap">
    
                                        <h6 class="heading">04. Testing &amp; Review</h6>
    
                                        <div class="text">Once the final plan is approved, everything will be conducted according to the agreed contract.</div>
    
                                       
                                    </div>
                                </div>
                                <!-- Single item gradation End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="accordion-wrapper section-space--pb_100">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 pr-5">
                        <div class="faq-two-wrapper section-space--mt_40">
                            <div id="accordion_two">
                                <div class="card">
                                    <div class="card-header" id="heading__10">
                                        <h5 class="mb-0 font-weight--bold">
                                            <button class="btn-link" data-toggle="collapse" data-target="#tab__10" aria-expanded="true" aria-controls="tab__10">
                                                Free App Maintenance <span>
                                        <i class="far fa-caret-circle-down"></i>
                                        <i class="far fa-caret-circle-right"></i> </span>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="tab__10" class="show" aria-labelledby="heading__10" data-parent="#accordion_two">
                                        <div class="card-body">
                                            <p>We use a newly developed technology to connect sites that are based on different types of servers and networks, SiteConnect, which helps to reduce the misinterpretation of signals as well as the loss of data during transfering. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading__11">
                                        <h5 class="mb-0">
                                            <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapse__11" aria-expanded="false" aria-controls="collapse__11">
                                                Security & Expertise on development<span>
                                        <i class="far fa-caret-circle-down"></i>
                                        <i class="far fa-caret-circle-right"></i>  </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse__11" class="collapse" aria-labelledby="heading__11" data-parent="#accordion_two">
                                        <div class="card-body">
                                            <p>To keep your systems, your devices, and network stay secure, we have developed a new program that limits the access of suspicious objects or people and authenticate all logins to the system. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading__12">
                                        <h5 class="mb-0">
                                            <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapse__12" aria-expanded="false" aria-controls="collapse__12">
                                                High Flexibility and Scalabiliy<span><i class="far fa-caret-circle-down"></i>
                                <i class="far fa-caret-circle-right"></i> </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse__12" class="collapse" aria-labelledby="heading__12" data-parent="#accordion_two">
                                        <div class="card-body">
                                            <p>Some hosts are unaware of the potential risks as well as security loopholes in their system. By detecting these errors and taking prompt actions on improving firewalls, we can upgrade the system security. </p>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!-- Start single-popup-wrap -->
                        <div class="video-interview section-space--mt_40 video-popup">
                            <a href="<%= portfolio.portfolioVideo.slice(8) %>" class="video-link mt-30">
                                <div class="single-popup-wrap">
                                    <img class="img-fluid border-radus-5" src="<%= portfolio.portfolioImage.slice(8) %>" alt="">
                                    <div class="ht-popup-video video-button">
                                        <div class="video-mark">
                                            <div class="wave-pulse wave-pulse-1"></div>
                                            <div class="wave-pulse wave-pulse-2"></div>
                                        </div>
                                        <div class="video-button__two">
                                            <div class="video-play">
                                                <span class="video-play-icon"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End single-popup-wrap -->
                    </div>
                </div>
            </div>
        </div>

        <!--====================  testimonial section ====================-->
        <div class="testimonial-slider-area bg-gray section-space--ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center section-space--mb_40">
                            <h6 class="section-sub-title mb-20">Testimonials</h6>
                            <h3 class="heading">How our services bring about<span class="text-color-primary"> success</span></h3>
                        </div>
                        <div class="testimonial-slider">
                            <div class="swiper-container testimonial-slider__container">
                                <div class="swiper-wrapper testimonial-slider__wrapper">

                                  <% for(var i = 0; i < testimonial.length; i++){ %>
                                        <div class="swiper-slide">
                                                <div class="testimonial-slider__one wow move-up">
        
                                                    <div class="testimonial-slider--info">
                                                        <div class="testimonial-slider__media">
                                                            <img src="<%= testimonial[i].testimonialImage %>" class="img-fluid" alt="">
                                                        </div>
        
                                                        <div class="testimonial-slider__author">
                                                            <div class="testimonial-rating">
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                            </div>
                                                            <div class="author-info">
                                                                <h6 class="name"><%= testimonial[i].name %></h6>
                                                                <span class="designation"><%= testimonial[i].role %></span>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="testimonial-slider__text"><%= testimonial[i].content %></div>
        
                                                </div>
                                            </div>
                                    <% } %>

                                </div>
                                <div class="swiper-pagination swiper-pagination-t01 section-space--mt_30"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of testimonial section  ====================-->













        <!--========== Call to Action Area Start ============-->
        <div class="cta-image-area_one section-space--ptb_80 cta-bg-image_one">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-7">
                        <div class="cta-content md-text-center">
                            <h3 class="heading text-white">We run all kinds of IT services that vow your <span class="text-color-secondary"> success</span></h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="cta-button-group--one text-center">
                            <a href="#" class="btn btn--white btn-one"><span class="btn-icon mr-2"><i class="far fa-comment-alt-dots"></i></span> Let's talk</a>
                            <a href="#" class="btn btn--secondary  btn-two"><span class="btn-icon mr-2"><i class="far fa-info-circle"></i></span> Get info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--========== Call to Action Area End ============-->

    </div>


    <!--====================  footer area ====================-->
    <%- include('./partials/footer'); %>
    <!--====================  End of footer area  ====================-->










    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fal fa-long-arrow-up"></i>
        <i class="arrow-bottom fal fa-long-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->

   <!--====================  mobile menu overlay ====================-->
   <%- include('./partials/header_mobile'); %>
   <!--====================  End of mobile menu overlay  ====================-->







    <!--====================  search overlay ====================-->
    <div class="search-overlay" id="search-overlay">

        <div class="search-overlay__header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 ml-auto col-4">
                        <!-- search content -->
                        <div class="search-content text-right">
                            <span class="mobile-navigation-close-icon" id="search-close-trigger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-overlay__inner">
            <div class="search-overlay__body">
                <div class="search-overlay__form">
                    <form action="#">
                        <input type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of search overlay  ====================-->

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/assets/js/vendor/bootstrap.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="/assets/js/plugins/swiper.min.js"></script>

    <!-- Light gallery JS -->
    <script src="/assets/js/plugins/lightgallery.min.js"></script>

    <!-- Waypoints JS -->
    <script src="/assets/js/plugins/waypoints.min.js"></script>

    <!-- Counter down JS -->
    <script src="/assets/js/plugins/countdown.min.js"></script>

    <!-- Isotope JS -->
    <script src="/assets/js/plugins/isotope.min.js"></script>

    <!-- Masonry JS -->
    <script src="/assets/js/plugins/masonry.min.js"></script>

    <!-- ImagesLoaded JS -->
    <script src="/assets/js/plugins/images-loaded.min.js"></script>

    <!-- Wavify JS -->
    <script src="/assets/js/plugins/wavify.js"></script>

    <!-- jQuery Wavify JS -->
    <script src="/assets/js/plugins/jquery.wavify.js"></script>

    <!-- circle progress JS -->
    <script src="/assets/js/plugins/circle-progress.min.js"></script>

    <!-- counterup JS -->
    <script src="/assets/js/plugins/counterup.min.js"></script>

    <!-- wow JS -->
    <script src="/assets/js/plugins/wow.min.js"></script>

    <!-- animation text JS -->
    <script src="/assets/js/plugins/animation-text.min.js"></script>

    <!-- Vivus JS -->
    <script src="/assets/js/plugins/vivus.min.js"></script>

    <!-- Some plugins JS -->
    <script src="/assets/js/plugins/some-plugins.js"></script>


    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

    <!--
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>


</body>

</html>